*~
*swp
*.so
*.o
*.mod
*.ps
*.eps
*.pdf
*.png
*.jpg
*.svg
*.gif
*.gz
*.bz
*.xz
*.nc
*.nc.*
*.grd
*.cpt
*.b
*.i2
*.bb
*.con
*.swt
*.asv
*.data
*.log
_jld2/
_mat/
_output/
_plots/
tmp*
gmt.*
._*
.DS_Store
xgeoclaw
x*
.output
.data
