*~
*swp
*.so
*.o
*.mod
*.ps
*.eps
*.pdf
*.png
*.jpg
*.svg
*.gif
*.gz
*.bz
*.xz
*.mat
*.nc
*.nc.*
*.grd
*.cpt
*.b
*.i2
*.bb
*.con
*.swt
*.asv
*.data
*.log
*.out
*.mp4
*.diff
*.asc
topo/
_jld2/
_mat/
_output/
_plots/
tmp*
gmt.*
._*
x*
log.*
test*.f90
.output
.data
.vscode
.DS_Store
