*~
*swp
*.so
*.o
*.mod
*.ps
*.eps
*.pdf
*.png
*.jpg
*.svg
*.gif
*.gz
*.bz
*.xz
*.mat
*.nc
*.nc.*
*.grd
*.cpt
*.b
*.i2
*.bb
*.con
*.swt
*.asv
*.data
*.log
*.out
*.mp4
topo/
_jld2/
_mat/
_output/
_plots/
tmp*
gmt.*
._*
.DS_Store
xgeoclaw
x*
.vscode
*.asc
test2.f90
.output
.data
log.txt
